.table
{ 
margin-left: auto;
margin-right: auto;
}
.navbarleft {
    background: linear-gradient(45deg, #fb466a 5%, #DF1B3F 50%, #DF1B3F 50%);
    border-top-right-radius: 1.5rem;
    border-bottom-right-radius: 1.5rem;
    font-size: 15px;

}

.inputlogin{
    border-radius: 10px;
    height: 40px;
    width: 100%;
    background:linear-gradient(#ffe4e9 5%, #ffe4e9 50%, #ffe4e9 50%);
    border: none;
   
}
.nabarleft2 {
    margin-top: 10%;
}

.boxtextnav {
    width: 100%;
    margin-left: 10px;
    margin-top: 5%;
    border-top-left-radius: 2rem;

}

.boxname{
    width: 70%;
 
}

.textcenter {
    text-align: center;
    font-weight: bold;
   
}

.center {
    margin: auto;
    width: 50%;
    padding: 10px;
}

.centeralert{
    margin: auto;
    width: 100%;
    padding: 10px;
}


.boxtext:hover {
    font-size: 20px;
    transform: translatex(5px);
    transition: 500ms;
    
}

.footer {
    color: white;
    font-size: 13px;
    text-align: center;
    margin-top: 30%;
    height: 500px
}

.boxs {
    margin-top: 2%;
    white-space: normal;
    text-align: center;
    
}


.buttonprocess {
    background: linear-gradient(45deg, #fb466a 5%, #DF1B3F 50%, #DF1B3F 50%);
    width: 75px;
    height: 70px;
    border-radius: 80%;
    border: none;
    color: white;
}
.buttonprocess:hover{
    background: linear-gradient(45deg, #e1a340 5%, #f08c1a 50%, #f08c1a 50%);

    
}
.buttonprocesssuccess {
    background: linear-gradient(45deg, #22ca16 5%, #5fbf1f 50%, #5fbf1f 50%);
    width: 75px;
    height: 70px;
    border-radius: 80%;
    border: none;
    color: white;
}

.flexbox{
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
}

.item{
    display: block;
    
}
.content{
    margin: 1px 1px 1px 1px;
    text-align: center;
    width: 120px;
   
}

.item2{
    display: block;
    
}
.content2{
    margin: 0.2px 0.2px 0.2px 0.2px;
    text-align: center;
    width: 20px;
   
}

.buttonprocess2 {
    background: linear-gradient(45deg, #fb466a 5%, #DF1B3F 50%, #DF1B3F 50%);
    width: 35px;
    height: 30px;
    border-radius: 60%;
    border: none;
    color: white;
}


.paperdashboard{
    font-size: 10px;
    line-height: 11px;
    max-width: 1150px;
    /* padding: 500px 20px 5px 5px; */
    margin: 6px 70px 6px 70px;
    background-color: white;
    /* box-shadow: 0 0 2px 1px #cccccc; */
    overflow-y: auto;

    
}
.paperreq{
    font-size: 15px;
    line-height: 11px;
    width: 800px;
    height: 500px;
    margin: 6px 70px 6px 170px;
    background-color: white;
    overflow: visible;
    border-radius: 2%;
    padding: 1rem;


}
.papertablereq{
    box-shadow: 0 0 2px 1px #cccccc;
    font-size: 12px;
    line-height: 11px;
    width: 1100px;
    height: 600px;
    margin: 20px 70px 6px 70px;
    background-color: white;
    overflow-y: auto;
    border-radius: 2%;
    padding: 1rem;
}


.paperprojectmanagement{
    box-shadow: 0 0 2px 1px #cccccc;
    font-size: 15px;
    line-height: 11px;
    width: 1100px;
    height: 500px;
    margin: 6px 70px 6px 70px;
    background-color: white;
    overflow: visible;
    border-radius: 2%;
    padding: 1rem;

}
td {
    text-align: center;
    vertical-align:middle;
  }
th{
    text-align: center;
    vertical-align:middle;

}
.paperprojectplan{
    box-shadow: 0 0 2px 1px #cccccc;
    font-size: 11px;
    line-height: 11px;
    width: 1100px;
    height: 800px;
    margin: 6px 70px 6px 70px;
    background-color: white;
    overflow-y: auto;
    border-radius: 2%;
    padding: 1rem;

}
.paperapprovals{
    box-shadow: 0 0 2px 1px #cccccc;
    font-size: 15px;
    line-height: 11px;
    width: 1100px;
    height: 800px;
    margin: 6px 70px 6px 70px;
    background-color: white;
    overflow-y: auto;
    padding: 1rem;
    border-radius: 2%;
}

.papervaluerelease{
    box-shadow: 0 0 2px 1px #cccccc;
    font-size: 15px;
    line-height: 11px;
    width: 1100px;
    height: 800px;
    margin: 6px 70px 6px 70px;
    background-color: white;
    overflow-y: auto;
    overflow-x: auto;
    border-radius: 2%;
    padding: 1rem;

}

.input-group{
    width: auto;
    height: 50px;
}

.buttonsave {
    font-weight: bold;
    padding: 15px 15px;
    border-radius: 10px;
    border: 0;
    background-color: rgb(19, 188, 0);
    letter-spacing: 1.5px;
    font-size: 15px;
    transition: all .3s ease;
    box-shadow: rgb(50, 138, 37) 0px 5px 0px 0px;
    color: hsl(0, 0%, 100%);
}

.buttonsave:hover {
    box-shadow: rgb(50, 138, 37) 0px 7px 0px 0px;
}

.buttonsave:active {
    background-color: rgb(19, 188, 0);
    /*50, 168, 80*/
    box-shadow: rgb(50, 138, 37)0px 0px 0px 0px;
    transform: translateY(5px);
    transition: 200ms;
}
.buttonsave:disabled{
    font-weight: bold;
    padding: 15px 15px;
    border-radius: 10px;
    border: 0;
    background-color: rgb(14, 144, 0);
    letter-spacing: 1.5px;
    font-size: 15px;
    transition: all .3s ease;
    box-shadow: rgb(50, 138, 37) 0px 5px 0px 0px;
    color: hsl(0, 1%, 76%);
}

.buttonsave:disabled:active{
    background-color: rgb(8, 98, 0);
    /*50, 168, 80*/
    box-shadow: rgb(50, 138, 37)0px 0px 0px 0px;
    transform: none;
}

.btn-warning{
    background-color: #ffa22f;
    font-size: 10px;
    font-weight: bold;
    border: none;
    color: white
}
.btn-danger{
    background-color: #ff355a;
    font-size: 10px;
    font-weight: bold;
    border: none;
    color: white

}
.btn-primary{
    background-color: #24bcfd;
    border: none;
}
.btn-primary:hover{
    background-color: #0a9bd8;
    border: none;

}

.buttonupdate {
    font-weight: bold;
    padding: 0px 15px;
    border-radius: 10px;
    border: 0;
    background-color: rgb(255, 150, 3);
    letter-spacing: 1.5px;
    font-size: 15px;
    transition: all .3s ease;
    box-shadow: rgb(208, 121, 0) 0px 5px 0px 0px;
    color: hsl(0, 0%, 100%);
    height: 30px;
}

.buttonupdate:hover {
    box-shadow: rgb(208, 121, 0) 0px 5px 0px 0px;
}

.buttonupdate:active {
    background-color: rgb(255, 150, 3);
    /*50, 168, 80*/
    box-shadow: rgb(208, 121, 0) 0px 5px 0px 0px;
    transform: translateY(5px);
    transition: 200ms;
}
.buttonupdate:disabled{
    font-weight: bold;
    padding: 0px 15px;
    border-radius: 10px;
    border: 0;
    background-color: rgb(255, 150, 3);
    letter-spacing: 1.5px;
    font-size: 15px;
    transition: all .3s ease;
    box-shadow: rgb(208, 121, 0) 0px 5px 0px 0px;
    color: hsl(0, 1%, 76%);
}

.buttonupdate:disabled:active{
    background-color: rgb(187, 109, 0);
    /*50, 168, 80*/
    box-shadow: rgb(165, 97, 1) 0px 5px 0px 0px;
    transform: none;
}


.buttonsend {
    padding: 15px 15px;
    border-radius: 10px;
    border: 0;
    background-color: rgb(49, 2, 180);
    letter-spacing: 1.5px;
    font-size: 15px;
    transition: all .3s ease;
    box-shadow: rgb(56, 28, 120) 0px 10px 0px 0px;
    color: hsl(0, 0%, 100%);
}

.buttonsend:hover {
    box-shadow: rgb(56, 28, 120) 0px 7px 0px 0px;
}

.buttonsend:active {
    background-color: rgb(49, 2, 180);
    /*50, 168, 80*/
    box-shadow: rgb(56, 28, 120) 0px 0px 0px 0px;
    transform: translateY(5px);
    transition: 200ms;
}

.buttonapprove {
    font-weight: bold;
    padding: 15px 15px;
    border-radius: 10px;
    border: 0;
    background-color: rgb(19, 188, 0);
    letter-spacing: 1.5px;
    font-size: 15px;
    transition: all .3s ease;
    box-shadow: rgb(50, 138, 37) 0px 5px 0px 0px;
    color: hsl(0, 0%, 100%);
    width: 120px;
}

.buttonapprove:hover {
    box-shadow: rgb(50, 138, 37) 0px 7px 0px 0px;
}

.buttonapprove:active {
    background-color: rgb(19, 188, 0);
    /*50, 168, 80*/
    box-shadow: rgb(50, 138, 37)0px 0px 0px 0px;
    transform: translateY(5px);
    transition: 200ms;
}


.buttonreject{
    font-weight: bold;
    padding: 15px 15px;
    border-radius: 10px;
    border: 0;
    background-color: rgb(255, 46, 46);
    letter-spacing: 1.5px;
    font-size: 15px;
    transition: all .3s ease;
    box-shadow: rgb(218, 51, 51) 0px 5px 0px 0px;
    color: hsl(0, 0%, 100%);
    width: 120px;
}

.buttonreject:hover {
    box-shadow: rgb(218, 51, 51) 0px 5px 0px 0px;
}

.buttonreject:active {
    background-color: rgb(255, 46, 46);
    /*50, 168, 80*/
    box-shadow: rgb(218, 51, 51) 0px 5px 0px 0px;
    transform: translateY(5px);
    transition: 200ms;
}



.buttonlogin{
    font-weight: bold;
    padding: 10px 15px;
    border-radius: 10px;
    border: 0;
    background-color: rgb(255, 46, 46);
    letter-spacing: 1.5px;
    font-size: 20px;
    transition: all .3s ease;
    box-shadow: rgb(218, 51, 51) 0px 5px 0px 0px;
    color: hsl(0, 0%, 100%);
    width: 120px;
}

.buttonlogin:hover {
    box-shadow: rgb(218, 51, 51) 0px 5px 0px 0px;
}

.buttonlogin:active {
    background-color: rgb(255, 46, 46);
    /*50, 168, 80*/
    box-shadow: rgb(218, 51, 51) 0px 5px 0px 0px;
    transform: translateY(5px);
    transition: 200ms;
}

.buttonedit{
    font-weight: bold;
    padding: 15px 15px;
    border-radius: 10px;
    border: 0;
    background-color: rgb(255, 46, 46);
    letter-spacing: 1.5px;
    font-size: 15px;
    transition: all .3s ease;
    box-shadow: rgb(218, 51, 51) 0px 5px 0px 0px;
    color: hsl(0, 0%, 100%);
}

.buttonedit:hover {
    box-shadow: rgb(218, 51, 51) 0px 5px 0px 0px;
}

.buttonedit:active {
    background-color: rgb(255, 46, 46);
    /*50, 168, 80*/
    box-shadow: rgb(218, 51, 51) 0px 5px 0px 0px;
    transform: translateY(5px);
    transition: 200ms;
}

.aprrovaltable{
    font-size: smaller;
    text-align: start;
}

.cardapproval{
    margin: 50px 50px 50px 150px;

    
}
.inputapprovals{
    width: 100px;
}

.pjdetailinput{
    width: 130px;
}
.projectdetailone{
    font-size: 13px;
    margin-left: 150px;
}
.codingplan{
    border: 1px solid black;
    margin-top: 5%;
    padding: 2rem 2rem 2rem 2rem;
}
.paperprototype{
    box-shadow: 0 0 2px 1px #cccccc;
    font-size: 15px;
    line-height: 11px;
    width: 700px;
    height: 280px;
    margin: 6px 70px 27px 152px;
    background-color: white;
    overflow: visible;
}
.confirmprototype{
    box-shadow: 0 0 2px 1px #cccccc;
    font-size: 15px;
    line-height: 11px;
    width: 700px;
    height: 380px;
    margin: 6px 70px 27px 152px;
    background-color: white;
    overflow: visible;
}
.paperemail{
    border:1px solid black;
    text-align: start;
}

.paperpreparedata{
    box-shadow: 0 0 2px 1px #cccccc;
    font-size: 20px;
    line-height: 40px;
    width: 1000px;
    height: 650px;
    margin: 6px 70px 27px 152px;
    background-color: white;
    overflow-x: auto;
    padding: 0rem 3rem 3rem 3rem;
}
.papercoding{
    box-shadow: 0 0 2px 1px #cccccc;
    font-size: 15px;
    line-height: 11px;
    width: 900px;
    height: 800;
    margin: 6px 70px 27px 152px;
    background-color: white;
    overflow: visible;
}
.paperdiliver{
    box-shadow: 0 0 2px 1px #cccccc;
    font-size: 15px;
    line-height: 30px;
    width: 1000px;
    height: 650px;
    margin: 6px 70px 27px 152px;
    background-color: white;
    overflow: visible;
}
.papervalue{
    box-shadow: 0 0 2px 1px #cccccc;
    font-size: 15px;
    line-height: 11px;
    width: 900px;
    height: 550px;
    margin: 6px 70px 27px 152px;
    background-color: white;
    overflow: visible;
}

.tablexcuteall{
    border-style: inset;
}

   /* [class*="col-"] {
    width: 100%;
  } */
  @media only screen and (min-width: 768px) {
    .col-1 {width: 8.33%;}
    .col-2 {width: 16.66%;}
    .col-3 {width: 25%;}
    .col-4 {width: 33.33%;}
    .col-5 {width: 41.66%;}
    .col-6 {width: 50%;}
    .col-7 {width: 58.33%;}
    .col-8 {width: 66.66%;}
    .col-9 {width: 75%;}
    .col-10 {width: 83.33%;}
    .col-11 {width: 91.66%;}
    .col-12 {width: 100%;}
  }

  .input-group-text{
    background: linear-gradient(45deg, #ffedf1 5%, #ffedf1 50%, #ffedf1 50%);
    font-weight: bold;
    font-size:10px;
  }

.btncheckbox{
    height: 25px;
    width: 25px;
    border: none;
    background-color: red;
    padding: -1rem 0rem 0rem 0rem;
}

.card-body-dashboard {
    flex: 1 1 auto;
    min-height: 1px;
    padding: 1.25rem;
}